<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<style>
			span{
				color:red;
				background-color:yellow;
				font-size:16pt;
			}
			div{
				position:absolute;
				top:50px;
				left:250px;
				width:400px;
				height:400px;
				background-color:#33CCFF;
			}
			img{
				position:relative;
				left:75px;
				top:10px;
				width:250px;
				height:250px;
		</style>
		<title>Span and Divs</title>		
	</head>
	<body>
		<p>
			Welcome To <span>The Best</span> Site in the <span>Web</span> !
		</p>
		<div>
			<h2>Block element content</h2><br>
			<img src=hum2.jpg alt="picture">
		</div>
	</body>
</html>
